<div style="margin:0;padding:0;display:inline">
  <%= hidden_field_tag(:wf_id, wf_filter.id ||= wf_filter.key) %>
  <%= hidden_field_tag(:wf_type, wf_filter.class.name) %>
  <%= hidden_field_tag(:wf_dirty, "false") %>
  <%= hidden_field_tag(:wf_submitted, "false") %>
  <%= hidden_field_tag(:wf_name, wf_filter.name) %>

  <% unless WillFilter::Config.require_filter_extensions? %>
      <%= hidden_field_tag(:wf_model, wf_filter.model_class_name) %>
  <% end %>

  <%= hidden_field_tag(:wf_export_format, "") %>
  <%= hidden_field_tag(:wf_export_fields, "") %>
</div>

<div id="post_params" style="display:none">
  <span id="title"><%= wf_filter.key %></span>
  <span id="description"><%= wf_filter.key %></span>
  <span id="querysql"><%= wf_filter.results.to_sql.to_s.strip %></span>
  <span id="addcontactid"><%= session[:encrypted_contact][:contactid] %></span>
  <span id="modifiedcontactid"><%= session[:encrypted_contact][:contactid] %></span>
</div>

<div class="header">

  <% if wf_filter.show_export_options? %>
      <div class="end" style="padding-left:3px;">
        |
        <%=link_to_function("<span>Export Results</span>".html_safe, "wfExporter.show(this)", :class => "wf_grey_button wf_pcb") %>
      </div>
  <% end %>

  <% if wf_filter.show_save_options? %>
      <div class="end">
        <input type="text" class="post_email wf_grey_button" id="email" style="display:none" placeholder="Enter Email Address(es)">
        <%= link_to('<span>Queue Query</span>'.html_safe, '/query_queue', :class => "wf_grey_button wf_pcb post_queue_record") %>
        <%= link_to('<span>Show Schedule</span>'.html_safe, '/', :class => "wf_grey_button wf_pcb schedule_record") %> |
        Private Filter? <%= check_box_tag(:wf_private, 'Y') %>
        <%=link_to_function("<span>Save Query</span>".html_safe, "wfFilter.saveFilter()", :class => "wf_grey_button wf_pcb") %>
        <% if wf_filter.id %>
            <%=link_to_function("<span>Update Query</span>".html_safe, "wfFilter.updateFilter()", :class => "wf_grey_button wf_pcb") %>
            <%=link_to_function("<span>Delete Query</span>".html_safe, "wfFilter.deleteFilter()", :class => "wf_grey_button wf_pcb") %>
        <% elsif wf_filter.key %>
            <% wf_filter.id = wf_filter.key %>
            <%=link_to_function("<span>Update Query</span>".html_safe, "wfFilter.updateFilter()", :class => "wf_grey_button wf_pcb") %>
            <%=link_to_function("<span>Delete Query</span>".html_safe, "wfFilter.deleteFilter()", :class => "wf_grey_button wf_pcb") %>
        <% end %>
      </div>
  <% end %>

  <div>
    <% unless wf_filter.saved_filters.empty? %>
        <%= select_tag(:wf_key, options_for_select(wf_filter.saved_filters, wf_filter.key), {:onChange=>"wfFilter.loadSavedFilter()"}) %>
    <% end %>
  </div>
</div>

<div class="header schedule_freq" style="display:none">
  <div class="body">
    <% @frequencies = ["Instant", "Monthly", "Weekly", "Daily", "Interval", "Hourly", "OneTime"] %>
    <% @days = [] %>
    <% (1..31).each do |d| %>
        <% @days.push(d) %>
    <% end %>
    <% @minutes = [] %>
    <% (0..59).each do |d| %>
        <% @minutes.push(d) %>
    <% end %>
    <% @hours = [] %>
    <% (0..23).each do |d| %>
        <% @hours.push(d) %>
    <% end %>
    <% @daysofweek = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"] %>
    <%= select_tag(:frequency, options_for_select(@frequencies), :prompt => "Frequency", :style => 'width:100px') %>
    <%=text_field_tag("startdate", "Start Date", :style => 'width:15%; display:none', :onChange => 'wfFilter.fieldChanged(this)')%>
    <%=link_to_function(image_tag("will_filter/calendar.png", :title => "Select start date", :class => "wf_calendar_trigger", :id => "startdatecal", :style => "display:none"), "wfCalendar.selectDate('startdate', this)")%>
    <%=text_field_tag("enddate", "End Date", :style => 'width:15%; display:none', :onChange => 'wfFilter.fieldChanged(this)')%>
    <%=link_to_function(image_tag("will_filter/calendar.png", :title => "Select end date", :class => "wf_calendar_trigger", :id => "enddatecal", :style => "display:none"), "wfCalendar.selectDate('enddate', this)")%>
    <div class="end">
      <%= select_tag(:dayofmonth, options_for_select(@days), :prompt=> "Day of Month", :style => 'width:120px; display:none') %>
      <%= select_tag(:dayofweek, options_for_select(@daysofweek), :prompt=> "Day of Week", :style => 'width:110px; display:none') %>
      <%= select_tag(:hour, options_for_select(@hours), :prompt=> "Hour", :style => 'width:80px; display:none') %>
      <%= select_tag(:minute, options_for_select(@minutes), :prompt=> "Minute", :style => 'width:80px; display:none') %>
    </div>
    <br />
  </div>
</div>
<br />